.list {
  list-style: none;
}
.card {
  box-shadow: 10px solid black;
  border-radius: 8px;
  height: 450px;
  width: 295px;
  background-color: #e7eaf6;
  margin: 13px 0px;
  padding: 2px;
}

.card h3 {
  margin-left: 25px;
}

img {
  height: 240px;
  width: 260px;
  margin-left: 18px;
  margin-top: 18px;
  border-radius: 7px;
}
.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.header {
  background-color: #113f67;
  color: snow;
  font-family: "Kaushan Script", cursive;
}

.main {
  background-color: black;
}

.footer {
  text-align: center;
  background-color: #113f67;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7eaf6;
  position: sticky;
}

.flex-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 15px;
  background-color: black;
  height: 100px;
}

input {
  width: 550px;
  height: 30px;
  border-radius: 5px;
}

button {
  height: 36px;
  width: 90px;
  border-radius: 5px;
}

button:hover {
  background-color: #113f67;
}

.footer h3 {
  margin: 0%;
}

.tag {
  background-color: #113f67;
  border-radius: 5px;
  font-weight: bold;
  font-size: x-small;
  padding: 3px;
  margin-left: 15px;
  color: white;
}

.user {
  color: #113f67;
}

.card:hover {
  transform: translateY(-15px);
  background-color: #dbd8e3;
}

h1 {
  font-family: "Kaushan Script", cursive;
}
